[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "*"
pillow = "*"
django-seed = "*"
djangorestframework = "*"
pyjwt = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
